altgraph==0.17
auto-py-to-exe==2.11.0
bottle==0.12.19
bottle-websocket==0.2.9
certifi==2021.10.8
cffi==1.15.0
charset-normalizer==2.0.12
click==8.1.2
colorama==0.4.4
DAWG-Python==0.7.2
docopt==0.6.2
Eel==0.12.4
et-xmlfile==1.1.0
Flask==2.1.1
Flask-Login==0.6.0
Flask-WTF==1.0.1
future==0.18.2
gevent==21.8.0
gevent-websocket==0.10.1
greenlet==1.1.2
idna==3.3
importlib-metadata==4.0.0
itsdangerous==2.1.2
Jinja2==3.1.1
lxml==4.6.2
MarkupSafe==2.1.1
numpy==1.21.2
openpyxl==3.0.8
Panda3D==1.10.10
panda3d-gltf==0.13
panda3d-simplepbr==0.9
pandas==1.3.2
pefile==2019.4.18
Pillow==8.1.1
pycparser==2.21
pygame==2.0.2
pyinstaller==4.7
pyinstaller-hooks-contrib==2021.1
pymorphy2==0.9.1
pymorphy2-dicts-ru==2.4.417127.4579844
pyperclip==1.8.2
pypiwin32==223
PyQt5==5.15.2
pyqt5-plugins==5.15.2.2.1.0
PyQt5-Qt5==5.15.2
PyQt5-sip==12.8.1
PyQt5-stubs==5.15.2.0
pyqt5-tools==5.15.2.3.0.2
PyQt5Designer==5.14.1
pyqtdeploy==3.1.1
PySide2==5.15.2
python-dateutil==2.8.2
python-docx==0.8.10
python-dotenv==0.17.0
pytz==2021.1
pywin32==300
pywin32-ctypes==0.2.0
qt5-applications==5.15.2.2.1
qt5-tools==5.15.2.1.0.1
requests==2.27.1
schedule==1.1.0
screeninfo==0.7
shiboken2==5.15.2
six==1.16.0
SQLAlchemy==1.4.35
toml==0.10.2
typing-extensions==3.7.4.3
urllib3==1.26.8
ursina==4.0.0
Werkzeug==2.1.1
whichcraft==0.6.1
WTForms==3.0.1
zipp==3.4.1
zope.event==4.5.0
zope.interface==5.4.0
